<h1>Editar Filme</h1>
<form method="post">
  {% csrf_token %}
  Título: <input type="text" name="titulo" value="{{ filme.titulo }}"><br>
  Ano: <input type="number" name="ano" value="{{ filme.ano }}"><br>
  Diretor:
  <select name="diretor">
    {% for diretor in diretores %}
    <option value="{{ diretor.id }}" {% if diretor == filme.diretor %}selected{% endif %}>{{ diretor.nome }}</option>
    {% endfor %}
  </select><br>
  <button type="submit">Salvar</button>
</form>
<a href="{% url 'listar_filmes' %}">Voltar</a>